@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bevan';
    src: url('../assets/fonts/Bevan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }